.container{
	width: 100%;
	max-width: 1100px;
	padding-right: 0px;
	padding-left: 0px;
}
.row{
	margin-left:0;
	margin-right: 0;
}
.banner{
	background:url(../../../assets/imgs/page2/enter.jpg) no-repeat center;
	background-size: cover;
	padding: 1px 0;
}
.banner .banner-list{
	margin: 112px 0;
	width: 100%;
}
.banner .banner-list>div{
	margin: 14px 0;
}
.banner .banner-list .banner-list-top{
	width: 1100px;
	height:200px;
	display:flex;
	width: 100%;
}
.banner .banner-list .banner-list-top .both,.banner .banner-list .banner-list-bottom .both{
	height: 200px;
	padding:0;
	width: 100%;
}
.banner .banner-list .banner-list-top .red{
	background-color: #b81d19;
	max-width:330px;
	margin-right: 22px;
}
.banner .banner-list .banner-list-top .white{
	background-color: #000;
	max-width:748px;
}
.banner .banner-list .banner-list-bottom{
	width: 1100px;
	height:200px;
	display:flex;
	width: 100%;
}
.banner .banner-list .banner-list-bottom .yellow{
	background:#F0d62c;
	max-width:440px;
	height: 200px;
}
.banner .banner-list .banner-list-bottom .blue{
	background:#239adc;
	max-width:176px;
	height: 200px;
	margin-left: 22px;
	margin-right: 22px;
}
.banner .banner-list .banner-list-bottom .deep{
	max-width:440px;
	height: 200px;
	background-color: #0f3e74;
}
/* 媒体查询开始 */
@media screen and (min-width:1100px) {
	.container{
		width: 1100px;
	}
}
@media screen and (min-width:1023px) and (max-width:1100px){
	.container{
		width: 100%;
	}
	.row{
		width: 100%;
	}
	.banner{
		width: 100%;
		overflow:hidden;
	}
	.banner .bannner-list{
		width: 100%;
	}
	.banner .banner-list .banner-list-top{
		width: 100%;
	}
	.banner .banner-list .banner-list-bottom{
		width: 100%;
	}
	.banner .banner-list .banner-list-top .red,.banner .banner-list .banner-list-top .white{
		width: 100%;
		max-width:100%;
	}
}