.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}
.memoy-main{
	width: 100%;
	background-image:url(../../../assets/imgs/page2/live.png);
	background-size:cover;
	background-repeat:no-repeat;
}
.memoy-main .content{
	width: 1100px;
	margin:0 auto;
}
.memoy-main .image{
	width: 1100px;
}
.memoy-main .image img{
	width: 100%;
}
.memoy-main .memoy-event{
	width: 100%;
}
.memoy-main .memoy-event .memoy-event-one,.memoy-main .memoy-event .memoy-event-two{
	width: 100%;
}
.memoy-main .memoy-event .memoy-event-one .memoy-event-left,.memoy-main .memoy-event .memoy-event-one .memoy-event-right{
	float:left;
	width:50%;
}

.memoy-main .memoy-event .memoy-event-one .memoy-event-left .year{
	margin-right: 30px;
	text-align:right;
	height: 71px;
	position:relative;
}
.memoy-main .memoy-event .memoy-event-one .memoy-event-left .year .circle{
	height: 16px;
	width: 16px;
	background: #b81d19;
	border-radius: 10px;
	position: absolute;
	top: 34px;
	left:542px;
}
.memoy-main .memoy-event .memoy-event-one .memoy-event-right .event{
	padding-left:30px;
	border-left: 1px solid #b81d19;
	box-shadow: -1px 0 0 0 #b81d19;
}
.memoy-main .memoy-event .memoy-event-one .memoy-event-right .event h3 p{
	line-height: 36px;
	font-size:18px;
}
.memoy-main .memoy-event .memoy-event-two{
	width: 100%;
}
.memoy-main .memoy-event .memoy-event-two .memoy-event-left,.memoy-main .memoy-event .memoy-event-two .memoy-event-right{
	float:left;
	width: 50%;
}
.memoy-main .memoy-event .memoy-event-two .memoy-event-left .event{
	padding-right:30px;
	border-right: 1px solid #b81d19;
	box-shadow: 1px 0 0 0 #b81d19;
}
.memoy-main .memoy-event .memoy-event-two .memoy-event-left .event .event-word{
	margin-left: 104px;
}
.memoy-main .event-word{
	line-height: 60px;
	font-size: 18px;
	border-radius: 20px;
	width: 80%;
	display: inline-block;
	padding: 0 20px;
	margin-bottom: 20px;
	color: #fff;
	box-shadow: 10px 10px 5px #888888;
	background-color: #30344F;
	font-weight: normal;
}
.memoy-main .memoy-event .memoy-event-two .memoy-event-right{
	padding-left: 30px;
	text-align:left;
	height: 71px;
	position:relative;
}
.memoy-main .memoy-event .memoy-event-two .memoy-event-right .year .circle{
	height: 16px;
	width: 16px;
	background: #b81d19;
	border-radius: 10px;
	position: absolute;
	top: 34px;
	left:-8px;
}


















