.container-fluid{
	padding-right: 0px;
	padding-left: 0px;
}
.memoy-main{
	width: 100%;
	background-image:url(../../../assets/imgs/page2/live.png);
	background-size:cover;
	background-repeat:no-repeat;
}
.memoy-main .content{
	width: 1100px;
	margin:0 auto;
}
.memoy-main .image{
	width: 1100px;
}
.memoy-main .image img{
	width: 100%;
}
.memoy-main .memoy-event{
	width: 100%;
}
.memoy-main .memoy-event .memoy-event-left,.memoy-main .memoy-event .memoy-event-right{
	float:left;
	width: 50%;
}
.memoy-main .memoy-event .memoy-event-left .year{
	margin-right: 30px;
	text-align:right;
	height: 71px;
	position:relative;
}
.memoy-main .memoy-event .memoy-event-left .year .circle{
	height: 16px;
	width: 16px;
	background: #b81d19;
	border-radius: 10px;
	position: absolute;
	top: 34px;
	left:542px;
}
.memoy-main .memoy-event .memoy-event-right .event{
	padding-left:30px;
	border-left: 1px solid #b81d19;
	box-shadow: -1px 0 0 0 #b81d19;
}
.memoy-main .memoy-event .memoy-event-right .event h3 p{
	line-height: 36px;
	font-size:18px;
}
.memoy-main .memoy-event .memoy-event-right .event h3{
	line-height: 60px;
	font-size: 18px;
	border-radius: 20px;
	width: 80%;
	display: inline-block;
	padding: 0 20px;
	margin-bottom: 20px;
	color: #fff;
	box-shadow: 10px 10px 5px #888888;
	background-color: #30344F;
	font-weight: normal;
}



















/* 媒体查询开始 */
/* 大于1100px */
/* @media screen and (min-width:1100px) {
	.content{
		width: 1100px;
		margin: 0 auto;
	}
}
/* 在768px和1100px中间 
@media screen and (min-width:768px) and (max-width:1100px){
	.content{
		width: 100%;
	}
	.company-main .content .intr .intr-comment .address img{
		width: 100%;
	}
}*/
/* 小于768px
@media screen and (max-width:768px){
	.content{
		width: 100%;
	}
	.company-main .content .company-filue,.company-main .content .intr {
		float:none;
		width: 100%;
		max-width:100%;
	}
	.company-main .content .company-filue .mediatab a{
		width: 100%;
		max-width:100%;
	}
	.company-main .content .intr .intr-comment .address img{
		width: 100%;
	}
} */