<div class="--swiper-container">
  <div class="header-wrap">
    <div class="title">相关产品</div>
    <div class="control-wrap">
      <span class="iconfont prev">&#xe60a;</span>
      <span class="iconfont next">&#xe859;</span>
    </div>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="cover-wrap">
          <img src="http://www.togest.com/uploadfile/2016/1231/asdf1.png" class="img">
          <div class="mask"></div>
        </div>
        <div class="title"> 铁路供电综合SCADA系统</div>
      </div>
      <div class="swiper-slide">
        <div class="cover-wrap">
          <img src="http://www.togest.com/uploadfile/2016/1231/asdf3.JPG" class="img">
          <div class="mask"></div>
        </div>
        <div class="title"> 铁路供电综合SCADA系统</div>
      </div>
      <div class="swiper-slide">
        <div class="cover-wrap">
          <img src="http://www.togest.com/uploadfile/2016/1231/asdf5.jpg" class="img">
          <div class="mask"></div>
        </div>
        <div class="title"> 铁路供电综合SCADA系统</div>
      </div>
      <div class="swiper-slide">
        <div class="cover-wrap">
          <img src="http://www.togest.com/uploadfile/2016/1231/asdf7.jpg" class="img">
          <div class="mask"></div>
        </div>
        <div class="title"> 铁路供电综合SCADA系统</div>
      </div>
    </div>
  </div>
</div>
