@media screen and (min-width:768px) {
	.Journalism{
		max-width: 1100px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.add{
		width: 21%;
		height: 100%;
		background: rgb(243,243,243);
		cursor: pointer;
	}
	.box{
		width: 77%;
	}
	.box ul{
		width: 100%;
		margin-top: 50px;
	}
	.box ul li{
		height: 130px;
		border-bottom: 1px solid  rgb(243,243,243);
		margin-top: 20px;
	}
	.box ul li img{
		width: 200px;
		height: 100px;
		float: left;
		margin-right: 10px;
		color: rgb(243,243,243);
	}
	.box ul li span{
		font-size: 12px;
	}
	
}
@media screen and (max-width:768px) {
	.Journalism{
		margin: 0 auto;
	}
	.add{
		width: 100%;
		/* height: 260px; */
		background: rgb(243,243,243);
		cursor: pointer;
	}
	.box{
		width: 100%;
	}
	.box>p>span{
		font-size: 12px;
	}
	.box ul{
		width: 100%;
		margin-top: 50px;
	}
	.box ul li{
		height: 300px;
		border-bottom: 1px solid  rgb(243,243,243);
		margin-top: 40px;
	}
	.box ul li img{
		width: 250px;
		height: 200px;
		margin-right: 10px;
		margin: 0 auto;
		display: block;
	}
	.box ul li span{
		font-size: 12px;
		color: rgb(0,0,0,.6);
	}
}
