.honors-main {
	width: 100%;
}
.honors-main a:hover {
	text-decoration: none;
}

.honors-main .content .honors-filue a {
	color: inherit;
}

.honors-main .content {
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

.honors-main .content .honors-filue {
	width: 21%;
	max-width: 230px;
	background: #f3f3f3;
	float: left;
}

.honors-main .content .honors-filue>li:first-child {
	height: 65px;
	line-height: 65px;
	color: #ce2a2b;
	font-size: 23px;
	padding-left: 15px;
	padding-right: 16px;
}

.honors-main .content .honors-filue .mediatab {
	height: 65px;
	background: #f3f3f3;
	line-height: 65px;
	font-size: 13px;
	padding-right: 16px;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 1px 0 0 #f3f3f3;
}

.honors-main .content .honors-filue .things {
	border-left: 5px solid #ce2a2b;
	background: #fff;
}

.honors-main .content .honors-filue .mediatab a {
	margin-left: 15px;
	width: 100%;
	max-width: 215px;
	display: inline-block;
	padding-right: 16px;
}

.honors-main .content .honors-filue .mediatab a span {
	float: right;
	color: #CE2A2B;
}
/* 主页右边 */
.honors-main .content .intr {
	float: right;
	width: 77%;
}


.honors-main .content .intr .title-page{
	height: 65px;
	line-height: 65px;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	color: #000;
	display:flex;
	justify-content: space-between;
	margin-bottom: 44px;
}
.honors-main .content .intr .title-page span{
	color:#444;
}
.honors-main .content .intr .title-page span+span{
	font-size:13px;
}
.honors-main .content .intr .title-page span a{
	color:rgb(85,26,139);
}
.honors-main .content .intr .intr-comment{
	width: 100%;
}
.honors-main .content .intr .intr-comment .address{
	width: 100%;
	padding-bottom:17px;
}
.honors-main .content .intr .intr-comment .address img{
	width: 800px;
}
.honors-main .content .intr .intr-comment .article-content{
	margin-top: 28px;
	border-bottom:1px solid #ddd;
}
.honors-main .content .intr .intr-comment .article-content>div>p{
	color:#CA1617;
	font-size:16px;
	line-height:40px;
	border-bottom:1px dashed #ddd;
	margin-bottom: 32px;
}
.honors-main .content .intr .intr-comment .article-content>div>span{
	color:#555555;
	font-size:13px;
	display:block;
	margin-bottom: 20px;
	line-height:26px;
}
.honors-main .content .intr .intr-comment .article-content>div>span{
	margin-bottom:0;
}
/* .honors-main .content .intr .intr-comment .article-content>div>span+span{
	margin-bottom:20px;
} */
.honors-main .content .intr .intr-comment .article-content>div{
	margin-bottom:103px;
}



/* 媒体查询 */
@media screen and (min-width:1100px) {
	.content{
		width: 1100px;
		margin: 0 auto;
	}
}
@media screen and (min-width:768px) and (max-width:1100px){
	.content{
		width: 100%;
	}
}
@media screen and (max-width:768px){
	.content{
		width: 100%;
	}
	.honors-main .content .honors-filue,.honors-main .content .intr {
		float:none;
		width: 100%;
		max-width:100%;
	}
	.honors-main .content .honors-filue .mediatab a{
		width: 100%;
		max-width:100%;
	}
}